body {
  background-color:#000000
}

div {
  color: #F5A9E1;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

div h1 {
  font-size: 85px;
}

div h2 {
  font-size: 48px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}